<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

    <h3>Heloooo</h3>
    <br><br>
    <table>
        <tr>
            <th>Contest Code</th>
            <th>Contest Name</th>
            <th>Start Date</th>
            <th>End Date</th>
            <th>Duration</th>
            <th>Go to Contest Page</th>
        </tr>
        {% for item in data %}
        <tr>
            <td>{{ item.contest_code }}</td>
            <td>{{ item.contest_name }}</td>
            <td>{{ item.contest_start_date }}</td>
            <td>{{ item.contest_end_date }}</td>
            <td>{{ item.contest_duration }}</td>
            <td><a href = "https://www.codechef.com/{{ item.contest_code }}?itm_campaign=contest_listing" target="_blank">Click Here</a></td>
        </tr>
        {% endfor %}    
    </table>
</body>
</html>