{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}">
  <link  rel="stylesheet" type="text/css" href="{% static 'css/join.css' %}">
  <title>CodeRoster - Join</title>
</head>
<body class="full-height-grow">
    {% for message in messages %}
    <div class="alert alert={{ message.tags }} alert-dismissible fade show" role="alert">
        <strong>Message: </strong> {{ message }}
        <button type="button" class="close" data-dismiss="alert" aria-label="close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>

    {% endfor %}
  <div class="container full-height-grow">
    <header class="main-header">
      <a href="/" class="brand-logo">
        <img src="images/logo.png">
        <div class="brand-logo-name">CodeRoster</div>
      </a>
      <nav class="main-nav">
        <ul>
          <li><a href="/signin">Sign in</a></li>
        </ul>
      </nav>
    </header>
    <section class="join-main-section">
      <h1 class="join-text">
        Join the
        <span class="accent-text">marathon.</span>
      </h1>
      <form class="join-form" action="/signup" method="post">
        <h3 style="text-align: center">Sign Up</h3>
        {% csrf_token %}
        <div class="input-group">
            <label>Username:</label>
            <input type="text" name="username" id="username" required>
        </div>
        <div class="input-group">
          <label>Name:</label>
          <input type="text" name="name" id="name" required>
        </div>
        <div class="input-group">
          <label>Email:</label>
          <input type="email" name="email" id="email" required>
        </div>
        <div class="input-group">
          <label>Password:</label>
          <input type="password" name="pass1" id="pass1" required>
        </div>
        <div class="input-group">
            <label>Retype Password:</label>
            <input type="password" name="pass2" id="pass2" required>
        </div>
        <div class="input-group">
          <button type="submit" class="btn">Join Now</button>
        </div>
      </form>
    </section>
    <br>
  </div>

  <div class="join-page-circle-1"></div>
  <div class="join-page-circle-2"></div>
</body>
</html>