
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css" integrity="sha384-zCbKRCUGaJDkqS1kPbPd7TveP5iyJE0EjAuZQTgFLD2ylzuqKfdKlfG/eSrtxUkn" crossorigin="anonymous">
  <link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'css/index.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'css/cards.css' %}">
  
  <title>Home</title>
</head>
<body class="container full-height-grow">
    {% if user.is_authenticated %}
    <header class="main-header">
        <a href="/" class="brand-logo">
        <img src="images/logo.png">
        <div class="brand-logo-name">CodeRoster</div>
        </a>
        <nav class="main-nav">
            <ul>
                <li><a href = "/codechef-data">Codechef</a></li>
                <li><a href = "/codeforces-data">Codeforces</a></li>
                <li><a href="/signout">Sign out</a></li>
            </ul>
        </nav>
    </header>
    <br><br>
    <table class = "table table-striped table-dark">
        <tr>
            <th>Contest ID</th>
            <th>Contest Name</th>
            <th>Start Time</th>
            <th>Duration</th>
            <th>Contest Type</th>
        </tr>
        {% for item in data %}
        <tr>
            <td>{{ item.codeforces_contest_id }}</td>
            <td>{{ item.codeforces_contest_name }}</td>
            <td>{{ item.codeforces_contest_start_time }}</td>
            <td>{{ item.codeforces_contest_duration }}</td>
            <td>{{ item.codeforces_contest_type }}</td>
        </tr>
        {% endfor %}   
    </table>
    {% else %}
    <header class="main-header">
        <a href="/" class="brand-logo">
          <img src="images/logo.png">
          <div class="brand-logo-name">CodeRoster</div>
        </a>
    </header>
    <button type="submit"><a href="/signup">SignUp</a></button>
    <button type="submit"><a href="/signin">SignIn</a></button>
    {% endif %}
  <div class="home-page-circle-1"></div>
  <div class="home-page-circle-2"></div>
  <div class="home-page-circle-3"></div>
</body>
</html>



